@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color: theme('colors.ink.DEFAULT');
    background: theme('colors.canvas');
    font-family: theme('fontFamily.sans');
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  * {
    box-sizing: border-box;
  }

  html {
    min-width: 320px;
    min-height: 100%;
    background: theme('colors.canvas');
  }

  body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background: theme('colors.canvas');
  }

  button {
    font: inherit;
  }
}
